<h1>ヘルプ</h1>
<p>
  島根大学の地図です
  <a href="http://www.shimane-u.ac.jp/">島根大学ホームページ</a>.<br>
  ・マーカーをクリックすると詳細が見れます。<br>
  ・地図をクリックすると新しく情報を入力できます。<br>
  ・ソースコードは
   <a href="https://github.com/Ikuyadeu/campusmap">GitHub</a>にあります.<br>
</p>
