<footer class="footer">
  <small>
    <a href="http://www.shimane-u.ac.jp/">島根大学</a>
  </small>
  <nav>
    <ul>
      <li><a href="http://news.railstutorial.jp/">News</a></li>
    </ul>
  </nav>
</footer>